<div class="well generate-well">
  <div class="app-well-menu">
    <h3>Meal Plan</h3>
  </div>
  <div class="meal-plan-result">
    <!-- BREAKFAST TABLE -->
    <%= render partial: "meal_table", locals: {meal_name: "Breakfast", id: "brk"} %>
    <!-- SNACK 1 TABLE -->
    <%= render partial: "meal_table", locals: {meal_name: "Snack 1", id: "snk1"} %>
    <!-- LUNCH TABLE -->
    <%= render partial: "meal_table", locals: {meal_name: "Lunch", id: "lnh"} %>
    <!-- SNACK 2 TABLE -->
    <%= render partial: "meal_table", locals: {meal_name: "Snack 2", id: "snk2"} %>
    <!-- DINNER 2 TABLE -->
    <%= render partial: "meal_table", locals: {meal_name: "Dinner", id: "dnr"} %>
  </div>
  <div class="app-well-menu">
    <h3>Food Items To Have/Avoid</h3>
    <div class="generate-table-container">
      <table class="table table-bordered">
        <thead>
          <tr class="generate-table-section text-center">
            <td colspan="3">Food Items</td>
          </tr>
          <tr class="text-center">
          <th>To Have</th>
          <th>To Avoid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            <ul class="foods-list list-group" id="gen-to-have-list">
              <li class="list-group-item">Pear</li>
              <li class="list-group-item">Cheese</li>
              <li class="list-group-item">Pumpkin</li>
              <li class="list-group-item">Peanut</li>
              <li class="list-group-item">Kale</li>
            </ul>
          </td>
          <td>
            <ul class="foods-list list-group" id="gen-to-avoid-list">
              <li class="list-group-item">Wheatddddddddddddddddddddddddddddddddddddddddddddddddd</li>
              <li class="list-group-item">Milk</li>
              <li class="list-group-item">Broccoli</li>
              <li class="list-group-item">Pasta</li>
              <li class="list-group-item">Bread</li>
            </ul>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="app-well-menu">
    <h3>Recipes</h3>
  </div>
  <div class="app-well-menu">
    <h3>Additional Comments</h3>
  </div>
  <div class="form-group comments-area additional-comments">
    <textarea class="form-control" rows="5"></textarea>
  </div>
</div>