<script type="text/javascript">
  var amountScrolled = 300;

  $(window).scroll(function() {
    if ( $(window).scrollTop() > amountScrolled ) {
      $('.btn-back-to-top').fadeIn('slow');
    } else {
      $('.btn-back-to-top').fadeOut('slow');
    }
  });

  $('.btn-back-to-top').click(function() {
    $('html, body').animate({
      scrollTop: 0
    }, 700);
    return false;
  });

  /** Logic for expanding food item list. */
  $(".expand-td").unbind('click').click(function() {
    $(this).parent().next().toggle('slow');
    $(this).toggleClass("expanded"); // Put opacity change in this class
    $(this).find(".expand-icon").toggleClass("glyphicon-chevron-down").toggleClass("glyphicon-chevron-up");
  });
</script>

<div class="well generate-well">
  <div class="app-well-menu">
    <h3>Meal Plan</h3>
  </div>
  <div class="app-well-container">
    <!-- BREAKFAST TABLE -->
    <%= render partial: "meal_table", locals: {meal_name: "Breakfast", id: "brk", op1: @brkOp1, op2: @brkOp2, op3: @brkOp3} %>
    <!-- SNACK 1 TABLE -->
    <%= render partial: "meal_table", locals: {meal_name: "Snack 1", id: "snk1", op1: @snk1Op1, op2: @snk1Op2, op3: @snk1Op3} %>
    <!-- LUNCH TABLE -->
    <%= render partial: "meal_table", locals: {meal_name: "Lunch", id: "lnh", op1: @lnhOp1, op2: @lnhOp2, op3: @lnhp3} %>
    <!-- SNACK 2 TABLE -->
    <%= render partial: "meal_table", locals: {meal_name: "Snack 2", id: "snk2", op1: @snk2Op1, op2: @snk2Op2, op3: @snk2Op3} %>
    <!-- DINNER 2 TABLE -->
    <%= render partial: "meal_table", locals: {meal_name: "Dinner", id: "dnr", op1: @dnrOp1, op2: @dnrOp2, op3: @dnrOp3} %>
  </div>
  <div class="app-well-menu">
    <h3>Food Items To Have/Avoid</h3>
  </div>
  <div class="app-well-container">
    <div class="generate-table-container">
      <table class="table table-bordered">
        <thead>
          <tr class="generate-table-section text-center">
            <td colspan="3">Food Items</td>
          </tr>
          <tr class="text-center">
          <th>To Have</th>
          <th>To Avoid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            <ul class="foods-list list-group" id="gen-to-have-list">
              <% @foods_to_have.each do |food| %>
                <li><%= food %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <ul class="foods-list list-group" id="gen-to-avoid-list">
              <% @foods_to_avoid.each do |food| %>
                <li><%= food %></li>
              <% end %>
            </ul>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="app-well-menu">
    <h3>Recipes</h3>
  </div>
  <div class="app-well-container">
    <%= render partial: "/recipes/recipe_table", locals: {recipe_list: @recipe_list} %>
  </div>
  <div class="app-well-menu">
    <h3>Additional Comments</h3>
  </div>
  <div class="app-well-container">
    <div class="form-group comments-area additional-comments">
      <textarea class="form-control" rows="5"></textarea>
    </div>
  </div>  
</div>
<%= leap_button '', {class: 'btn-app btn-back-to-top'}, 'glyphicon-chevron-up' %>