<script>
  $(document).ready(function() {
    $('#meal-plan-preview-modal').find('.comments-area').hide();
  });
</script>

<div id="meal-plan-preview-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn close" data-dismiss="modal" type="button"><span class="glyphicon glyphicon-remove"/></button>
        <h3 class="modal-title">Preview Meal Plan</h3>
      </div>
      <div class="modal-body">
        <%= leap_button 'Delete Recipes', {class: 'btn-app disabled', id: 'btn-delete-preview'}, 'glyphicon-trash' %>
        <!-- BREAKFAST TABLE -->
        <%= render partial: "meal_table", locals: {meal_name: "BREAKFAST", id: "brk"} %>
        <!-- SNACK 1 TABLE -->
        <%= render partial: "meal_table", locals: {meal_name: "SNACK 1", id: "snk1"} %>
        <!-- LUNCH TABLE -->
        <%= render partial: "meal_table", locals: {meal_name: "LUNCH", id: "lnh"} %>
        <!-- SNACK 2 TABLE -->
        <%= render partial: "meal_table", locals: {meal_name: "SNACK 2", id: "snk2"} %>
        <!-- DINNER 2 TABLE -->
        <%= render partial: "meal_table", locals: {meal_name: "DINNER", id: "dnr"} %>

        <ul id="recipe-id-list" style="display:none;"></ul>
      </div>
    </div>
  </div>
</div>