<% op1 = nil if local_assigns[:op1].nil? %>
<% op2 = nil if local_assigns[:op2].nil? %>
<% op3 = nil if local_assigns[:op3].nil? %>

<div class="generate-table-container">
  <table class="table table-bordered">
    <thead>
      <tr class="generate-table-section text-center">
        <td colspan="3"><%= meal_name %></td>
      </tr>
      <tr class="text-center">
        <th>Option 1</th>
        <th>Option 2</th>
        <th>Option 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <label>Recipes:</label>
          <ul class="recipe-list list-group" id=<%=id+"Op1" %> >
            <% if op1 and op1.any? %>
              <% op1.each do |recipe| %>
                <li class="list-group-item"><%= recipe %></li>
              <% end %>
            <% end %>
          </ul>
        </td>
        <td>
          <label>Recipes:</label>
          <ul class="recipe-list list-group" id=<%=id+"Op2" %> >
            <% if op2 and op2.any? %>
              <% op2.each do |recipe| %>
                <li class="list-group-item"><%= recipe %></li>
              <% end %>
            <% end %>
          </ul>
        </td>
        <td>
          <label>Recipes:</label>
          <ul class="recipe-list list-group" id=<%=id+"Op3" %> >
            <% if op3 and op3.any? %>
              <% op3.each do |recipe| %>
                <li class="list-group-item"><%= recipe %></li>
              <% end %>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group comments-area">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>
        </td>
        <td>
          <div class="form-group comments-area">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>
        </td>
        <td>
          <div class="form-group comments-area">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>