<%= javascript_include_tag 'generate_meal_plan.js' %>
<div class="page-container container">
 <div class="stepwizard">
     <div class="stepwizard-row setup-panel">
         <div class="stepwizard-step">
            <%= leap_button '1', {class: 'btn-app step-app', id: 'select-food-next', type: 'button'}, nil, '#step-1' %>
             <p>SELECT FOODS</p>
         </div>
         <div class="stepwizard-step">
            <%= leap_button '2', {class: 'btn-app step-app disabled', id: 'select-food-next', type: 'button'}, nil, '#step-2' %>
             <p>SELECT RECIPES</p>
         </div>
         <div class="stepwizard-step">
            <%= leap_button '3', {class: 'btn-app step-app disabled', id: 'select-food-next', type: 'button'}, nil, '#step-3' %>
             <p>GENERATE</p>
         </div>
     </div>
 </div>
 <form role="form">
    <div class="row generate-container" id="step-1"></div>

    <div class="row generate-container" id="step-2"></div>

    <div class="row generate-container" id="step-3"></div>
 </form>
</div>
<!-- Preview meal plan modal box.-->
<div>
    <%= render 'meal_plan_preview' %> 
</div>