<%= javascript_include_tag 'recipe_table.js' %>
<%= javascript_include_tag 'recipe_results.js' %>
<script type="text/javascript">
$(document).ready(function () {

    var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');
            
    allWells.hide();

    navListItems.click(function (e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
                $item = $(this);

        if (!$item.hasClass('disabled')) {
            navListItems.removeClass('btn-primary').addClass('btn-default');
            $item.addClass('btn-primary');
            allWells.hide();
            $target.show();
            $target.find('input:eq(0)').focus();
        }
    });

    allNextBtn.click(function(){
        var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
            curInputs = curStep.find("input[type='text'],input[type='url']"),
            isValid = true;

        if (curStepBtn == "step-1") {
            // Get foods to have
            var food_items = [];
            $('.have-list').find('li').each(function() {
                food_items.push($(this).text());
            });
            // Send food_items to find_recipes
            console.log(food_items);
            $.ajax({
                url: "/search/find_recipes/",
                method: "POST",
                data: {food_items: JSON.stringify(food_items)},
                timeout: 5000,
                success: function() {
                  console.log("success");
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log("an error has occured");
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }
        $(".form-group").removeClass("has-error");
        for(var i=0; i<curInputs.length; i++){
            if (!curInputs[i].validity.valid){
                isValid = false;
                $(curInputs[i]).closest(".form-group").addClass("has-error");
            }
        }

        if (isValid)
            nextStepWizard.removeAttr('disabled').trigger('click');
    });

    $('div.setup-panel div a.btn-primary').trigger('click');
    // Add recipe title to proper position in the preview table.
    $('.add-to').on('click', function (){
      // Get button id.
      var btnId = this.id;
      // Get meal name and option. eg. breakfast option 2.
      var option = btnId.split("-")[1];
      // Get selected recipe name.
      var selected_id = [];
      var selected_recipe_names = [];
      // gather the ids and names of all checked recipes
      $('.check-rec:checked').each(function() {
        var recipe_id = $(this).closest('tr').find('#recipe_id').val();

        var recipe_name = $(this).closest('tr').find('td').find('label').text();

        selected_recipe_names.push(recipe_name);
        selected_id.push(recipe_id);
      });
      
      var i=0
      $(selected_recipe_names).each(function(){
       var name = selected_recipe_names[i];
       i++;
       var aaa = $('<li/>')
         .text(name)
         .addClass("food-item list-group-item")
         .appendTo("#"+option);
      });
    });

    // If a recipe in the preview meal plan gets clicked.
    
    // handles delete event in recipe preview table.
    $('#btn-delete-preview').on('click', function(){
     var actives = '';
     actives = $('li.highlight-item');
     actives.remove();
    });
     
});
</script>
<div class="container">
 <div class="stepwizard">
     <div class="stepwizard-row setup-panel">
         <div class="stepwizard-step">
             <a href="#step-1" type="button" class="btn btn-primary ">1</a>
             <p>SELECT FOODS</p>
         </div>
         <div class="stepwizard-step">
             <a href="#step-2" type="button" class="btn btn-default" disabled="disabled">2</a>
             <p>SELECT RECIPES</p>
         </div>
         <div class="stepwizard-step">
             <a href="#step-3" type="button" class="btn btn-default" disabled="disabled">3</a>
             <p>GENERATE</p>
         </div>
     </div>
 </div>
 <form role="form">
     <div class="row setup-content" id="step-1">
         <div class="col-xs-12">
             <div class="col-md-12">  
                 <h3> Select Foods</h3>
                 <%= render partial: "recipes/search_new" %>
                 <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
             </div>
         </div>
     </div>
     <div class="row setup-content" id="step-2">
         <div class="col-xs-12">
             <div class="col-md-12">
                 <h3> Select Recipes</h3>
                 <div class="btn-group">
                    <button type="button" class="btn btn-info">Add to <span class="glyphicon glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="add-to" id="btn-brkOp1">breakfast option 1</a></li>
                        <li><a href="#" class="add-to" id="btn-brkOp2">breakfast option 2</a></li>
                        <li><a href="#" class="add-to" id="btn-brkOp3">breakfast option 3</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" class="add-to" id="btn-snk1Op1">snack 1 Option 1</a></li>
                        <li><a href="#" class="add-to" id="btn-snk1Op2">snack 1 Option 2</a></li>
                        <li><a href="#" class="add-to" id="btn-snk1Op3">snack 1 Option 3</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" class="add-to" id="btn-lnhOp1">lunch option 1</a></li>
                        <li><a href="#" class="add-to" id="btn-lnhOp2">lunch option 2</a></li>
                        <li><a href="#" class="add-to" id="btn-lnhOp3">lunch option 3</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" class="add-to" id="btn-snk2Op1">snack 2 Option 1</a></li>
                        <li><a href="#" class="add-to" id="btn-snk2Op2">snack 2 Option 2</a></li>
                        <li><a href="#" class="add-to" id="btn-snk2Op3">snack 2 Option 3</a></li>        
                        <li role="separator" class="divider"></li>
                        <li><a href="#" class="add-to" id="btn-dnrOp1">dinner option 1</a></li>
                        <li><a href="#" class="add-to" id="btn-dnrOp2">dinner option 2</a></li>
                        <li><a href="#" class="add-to" id="btn-dnrOp3">dinner option 3</a></li>
                    </ul>                   
                </div>
                   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#mealPlanPreview">Preview Meal Plan <span class="glyphicon glyphicon-list-alt"></span></button>
                 <%= render partial: "recipes/recipe_table", locals: {recipe_list: @recipe_list} %>
                 <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" style="margin-top:10px;">Next</button>
             </div>
         </div>
     </div>
     <div class="row setup-content" id="step-3">
         <div class="col-xs-12">
             <div class="col-md-12">
                 <h3> Generate</h3>

                 <button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>
             </div>
         </div>
     </div>
 </form>
</div>
                <!-- Preview meal plan modal box.-->
                <div>
                    <%= render 'meal_plan_preview' %> 
                </div>