<script type="text/javascript">
$(document).ready(function() {
  // navigation click actions 
  $('.scroll-link').on('click', function(event){
    event.preventDefault();
    var sectionID = $(this).attr("data-id");
    scrollToID('#' + sectionID, 750);
  });
});
// scroll function
function scrollToID(id, speed){
  var offSet = 50;
  var targetOffset = $(id).offset().top - offSet;
  var mainNav = $('#main-nav');
  $('html,body').animate({scrollTop:targetOffset}, speed);
  if (mainNav.hasClass("open")) {
    mainNav.css("height", "1px").removeClass("in").addClass("collapse");
    mainNav.removeClass("open");
  }
}
if (typeof console === "undefined") {
    console = {
        log: function() { }
    };
}
</script>

<header id="main-header">
  <div class="text-center container">
    <h1>Find Foods that Fit</h1>
    <button class="scroll-link btn btn-main" data-id="main-content-container" type="button">Get Started!</button>
  </div>  
</header>
<div id="main-content-container" class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="main-thumbnail thumbnail">
      <div class="img-box text-center">
        <%= image_tag("square_icon_mealplans.png", class: "main-thumbnail-img img-responsive") %>
        <div class="btn-main-container">
          <%= link_to "Generate", {:controller => 'search', :action => 'generate'}, {:class=>"btn btn-main"} %>
        </div>
      </div>
      <div class="caption">
        <h3>Meal Plans</h3>
        <p>Generate clean and healthy meal plans based on specific dietary requirements and taste preference. Plan out meals, snacks, and recipes while avoiding or including certain foods from detailed "real foods" lists!</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="main-thumbnail thumbnail">
      <div class="img-box text-center">
        <%= image_tag("square_icon_recipes.png", class: "main-thumbnail-img img-responsive") %>
        <div class="btn-main-container">
          <%= link_to "Search New", {:controller => 'recipes', :action => 'search_new'}, {:class=>"btn btn-main"} %>
          <%= link_to "Manage", {:controller => 'recipes', :action => 'index'}, {:class=>"btn btn-main"} %>
        </div>
      </div>
      <div class="caption">
        <h3>Recipes</h3>
        <p>Search new recipes from the web which fit specific dietary requirements and taste preferences. Alter recipes by substituting ingredients and amounts, when needed, to make them fit preferences</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="main-thumbnail thumbnail">
      <div class="img-box text-center">
        <%= image_tag("square_icon_foods.png", class: "main-thumbnail-img img-responsive") %>
        <div class="btn-main-container">
          <%= link_to "Manage", {:controller => 'categories', :action => 'index'}, {:class=>"btn btn-main"} %>
        </div>
      </div>      
      <div class="caption">
        <h3>Find your Foods</h3>
        <p>Browse and search "real food" lists to include or avoid certain foods/ingredients in personalized food lists. Use the foods list to help find recipes and create meal plans</p>
      </div>
    </div>
  </div>
</div>