<div class="recipe-box">
	<%= add_form_element 'recipe', 'id', { type: 'hidden' }, { value: recipe.try(:id) } %>
	<h1 for="title">Title</h1>
	<textarea name="recipe[title]" class="form-control rec-title" rows="1" required><%= recipe.title %></textarea>
	<h1 for="ingredients">Ingredients</h1>
	<%= ingredients_list(recipe.formatIngredients, parallel) %>
	<h1 for="directions">Directions</h1>
	<textarea name="recipe[directions]" class="form-control rec-directions" rows="4" required><%= recipe.formatDirections %></textarea>
	<h1 for="tag_id">Tags</h1>
	<textarea name="recipe[tags]" class="form-control rec-tags" rows="1" required><%= recipe.tags %></textarea>	
	<%= leap_button 'Edit', {class: 'btn-edit-recipe btn-app'}, 'glyphicon-edit' unless ['generate_meal_plan', 'find_recipes'].include? params[:action]%>
</div>