<div class="recipe-box">
	<%= add_form_element 'recipe', 'id', { type: 'hidden' }, { value: recipe.try(:id) } %>
	<h1 for="title">Title</h1>
	<p contenteditable="false" id="rec-title" required><%= recipe.title %></p>
	<h1 for="ingredients">Ingredients</h1>
	<p contenteditable="false" id="rec-ingredients" required><%= recipe.ingredients %></p>
	<h1 for="directions">Directions</h1>
	<p contenteditable="false" id="rec-directions" required><%= recipe.directions %></p>
	<h1 for="tag_id">Tags</h1>
	<p contenteditable="false" id="rec-tags" required><%= recipe.tag_id %></p>
	<a class="btn btn-app btn-edit-recipe " >Edit 
    	<span class="glyphicon glyphicon-edit"/></a>
</div>