<div class="recipe-box">
	<%= add_form_element 'recipe', 'id', { type: 'hidden' }, { value: recipe.try(:id) } %>
	<h1 for="title">Title</h1>
	<p contenteditable="false" class="rec-title" required><%= recipe.title %></p>
	<h1 for="ingredients">Ingredients</h1>
	<p contenteditable="false" class="rec-ingredients" required><%= recipe.ingredients %></p>
	<h1 for="directions">Directions</h1>
	<p contenteditable="false" class="rec-directions" required><%= recipe.directions %></p>
	<h1 for="tag_id">Tags</h1>
	<p contenteditable="false" class="rec-tags" required><%= recipe.tags %></p>
	<%= leap_button 'Edit', {class: 'btn-edit-recipe btn-app'}, 'glyphicon-edit' %>
</div>