<script type="text/javascript">
  $(function () {
            $('body').on('click', '.list-group .list-group-item', function () {
                $(this).toggleClass('highlight-item');
            });
            $('.list-arrows a').click(function () {
                var $button = $(this), actives = '';
                if ($button.hasClass('move-left')) {
                    actives = $('.list-right ul li.highlight-item');
                    actives.clone().appendTo('.list-left ul');
                    actives.remove();
                } else if ($button.hasClass('move-right')) {
                    actives = $('.list-left ul li.highlight-item');
                    actives.clone().appendTo('.list-right ul');
                    actives.remove();
                }
            });
            $('.dual-list .selector').click(function () {
                var $checkBox = $(this);
                if (!$checkBox.hasClass('highlight-item')) {
                    $checkBox.addClass('highlight-item').closest('.well').find('ul li:not(.active)').addClass('active');
                    $checkBox.children('i').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
                } else {
                    $checkBox.removeClass('highlight-item').closest('.well').find('ul li.active').removeClass('active');
                    $checkBox.children('i').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
                }
            });
            $('#delete-to-have').click(function(){              
              var n = $('.list-left ul li.highlight-item').size();
              if(n==0){
                // $this.removeClass("btn-app-disabled");
                alert(n);
                // alert("Please select a food item to delete");
              }else{
                // $this.addClass("btn-app-disabled");
                $('.list-left ul li.highlight-item').remove();
              }
            });
            $('#delete-to-avoid').click(function(){              
              var n = $('.list-right ul li.highlight-item').size();
              if(n==0){
                alert(n);
                $('#delete-to-avoid').addClass('btn-app-disabled');
              }else{
                $('#delete-to-avoid').removeClass('btn-app-disabled');
                $('.list-right ul li.highlight-item').remove();
              }
            });
        });
// This controls the food selection table
$(document).ready(function () {
  // Show all items of a category.
  $(".expand").click(function() {
    var myExpand = this.id;
    
    var myExpandId = this.id.split("_");
    var myDetailsClass = '.'+myExpandId[0]+"_items";
    // Show that recipe detail of that index.     
    //alert(myDetailsClass);
    $(myDetailsClass).toggle('fast');
    // Change gliphicon arrow up and down.
    var id='#'+myExpandId[0]+'_icon';
    
    if($(id).hasClass("glyphicon-chevron-down")){       
      $(id).addClass("glyphicon-chevron-up");
      $(id).removeClass("glyphicon-chevron-down");
    }else{
      $(id).addClass("glyphicon-chevron-down");
      $(id).removeClass("glyphicon-chevron-up");
    }
  });
  // Enable buttons when check boxes are checked.
  // and handles food items selections.
  $('.food-item').click(function() {
    $(this).toggleClass('highlight-item');
    var numChked = $('.highlight-item').size();
     if(numChked) {       
       $('#btn-avoid').removeClass("btn-app-disabled");
       $('#btn-have').removeClass("btn-app-disabled");
     } else if(numChked==0) {
       $('#btn-avoid').addClass("btn-app-disabled");
       $('#btn-have').addClass("btn-app-disabled");
     }
  });
  // Button to have
  $('#btn-have').click(function () {
    var actives = '';
    actives = $('.food_row td li.highlight-item');        
    actives.clone().appendTo('.list-left ul');
    $('#btn-have').addClass("btn-app-disabled");
    $('#btn-avoid').addClass("btn-app-disabled");
    // Deselect all food items.
    $('.food-item ').removeClass('highlight-item');
  });
  // Button to avoid.
  $('#btn-avoid').click(function () {
    var actives = '';
    actives = $('.food_row td li.highlight-item');        
    actives.clone().appendTo('.list-right ul');
    $('#btn-have').addClass("btn-app-disabled");
    $('#btn-avoid').addClass("btn-app-disabled");
    // Deselect all food items.
    $('.food-item ').removeClass('highlight-item');
  });
  $('#btn-cancel-search').click(function(){
    location.reload();
  });
});
</script>
  <div class="row">
    <div class="dual-list list-left col-md-5">
      <div class="foods-panel panel panel-primary">
        <div class="panel-heading clearfix">
          <h3 class="panel-title">To Have</h3>
        </div>
        <div class="panel-body">
          <div class="foods-panel-menu">
            <a id="delete-to-have" class="btn btn-app">Delete <span class="glyphicon glyphicon-trash"/></a>
            </div>
            <ul class="have-avoid-list have-list list-group"></ul>
          </div>
        </div>
      </div>
    <div class="list-arrows col-md-2">
      <a class="btn btn-app move-left"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="btn btn-app move-right"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="dual-list list-right col-md-5">
      <div class="foods-panel panel panel-primary">
        <div class="panel-heading clearfix">
        <h3 class="panel-title">To Avoid</h3>
      </div>
      <div class="panel-body">
        <div class="foods-panel-menu">
          <a id="delete-to-avoid" class="btn btn-app">Delete <span class="glyphicon glyphicon-trash"/></a>
        </div>
        <ul class="have-avoid-list avoid-list list-group"></ul>
      </div>
    </div>
  </div>
  </div>
  <!-- Now here goes the table -->
  <div class="well-container">
    <div class="well food-well">
    <div class="have-avoid-menu">
      <a class="btn btn-app btn-app-disabled" id="btn-have">Have <span class="glyphicon glyphicon-plus"/></a>
      <a class="btn btn-app btn-app-disabled" id="btn-avoid">Avoid <span class="glyphicon glyphicon-minus"/></a>
    </div>
  <div class="food-table-container">
    <table class="table">          
    <% @category_list.each do |cat| %>
      <thead>
        <tr class="expand" id="<%= cat.name %>_expand">
          <th><span class="glyphicon glyphicon-chevron-down" id="<%= cat.name %>_icon"/></th>
          <th><%= cat.name %></th>
        </tr>
      </thead>
      <tbody>
        <tr class="<%= cat.name %>_items food_row">
          <td colspan="2">                            
            <% cat.food_items.sorted.each do |foodItem| %>
              <li class="food-item list-group-item"><%= foodItem.name %></li>
            <%end%>                   
          </td>
        </tr>
      </tbody>
    <%end%>
  </table>
  </div>
  </div>