<%= javascript_include_tag 'recipe_table.js' %>
<%= javascript_include_tag 'recipe_results.js' %>



<% if $recipe_list %>
	<% @recipe_list = $recipe_list %>
	<% $recipe_list = nil %>
<% else %>
  <script>
    window.location.href = "/recipes/search_new"
  </script>
<% end %>


<div class="page-container container">
  <!-- pagination -->
  <div class="well recipe-well">
    <div class="recipe-well-menu">
      <span class="select-all-check">
        <a class="btn btn-app" data-color="default">Select All</a>
        <input type="checkbox"/>
      </span>
      <%= leap_button 'Save', {id: 'btn-app btn-save-recipes'}, 'glyphicon-save' %>
      <%= leap_button 'Delete', {id: 'btn-app btn-delete-recipes'}, 'glyphicon-trash' %>
    </div>
    <%= render partial: "recipe_table", locals: {recipe_list: @recipe_list} %>
  </div>
</div>
