<%= javascript_include_tag 'recipe_results.js' %>
<%= javascript_include_tag 'recipe_table.js' %>

<h3 class="page-title">Upload Recipe Search Result</h3>
<div class="page-container container">
  <!-- pagination -->
  <div class="well recipe-well">
    <div class="recipe-well-menu">
      <%= leap_button 'Select All', {class: 'btn-app btn-select-all'}, 'glyphicon-unchecked' %>
      <%= leap_button 'Save', {class: 'btn-app btn-app-disabled', id: 'btn-save-recipes'}, 'glyphicon-save' %>
      <%= leap_button 'Delete', {class: 'btn-app btn-app-disabled', id: 'btn-delete-recipes'}, 'glyphicon-trash' %>
    </div>
    <div class="app-well-container">
      <%= render partial: "recipe_table", locals: {recipe_list: @recipe_list} %>
    </div>
  </div>
</div>
