<%= javascript_include_tag 'recipe_results.js' %>
<%= javascript_include_tag 'recipe_table.js' %>

<div class="page-container container">
  <!-- pagination -->
  <div class="well recipe-well">
    <div class="recipe-well-menu">
      <span class="select-all-check">
        <a class="btn btn-app" data-color="default">Select All</a>
        <input type="checkbox" class="hidden" checked />
      </span>
      <%= leap_button 'Save', 'glyphicon-save', 'btn-app-disabled', 'btn-save-recipes' %>
      <a id="btn-save-recipes" class="btn btn-app btn-app-disabled" >Save <span class="glyphicon glyphicon-save"/></a>
      <%= leap_button 'Delete', 'glyphicon-save', 'btn-app-disabled', 'btn-delete-recipes' %>
      <a id="btn-delete-recipes" class="btn btn-app btn-app-disabled" >Delete <span class="glyphicon glyphicon-trash"/></a>
    </div>
    <%= render partial: "recipe_table", locals: {recipe_list: @recipe_list} %>
  </div>
</div>
