<%= javascript_include_tag 'recipe_results.js' %>
<%= javascript_include_tag 'recipe_table.js' %>

<div class="page-container container">
  <!-- pagination -->
  <div class="well recipe-well">
    <div class="recipe-well-menu">
      <span class="select-all-check">
        <a class="btn btn-app" data-color="default">Select All</a>
        <input type="checkbox" class="hidden" checked />
      </span>
      <%= leap_button 'Save', {class: 'btn-app-disabled', id: 'btn-save-recipes'}, 'glyphicon-save' %>
      <%= leap_button 'Delete', {class: 'btn-app-disabled', id: 'btn-delete-recipes'}, 'glyphicon-save' %>
    </div>
    <%= render partial: "recipe_table", locals: {recipe_list: @recipe_list} %>
  </div>
</div>
