<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="container">
	<h1>Recipes List</h1>

	<div class="well">
	  <h3>Recipes List</h3>
	  <p>this portion of page contains all of our recipes stored in the database.</p>
		<a href="#" class="btn btn-success"  data-toggle="modal" data-target="#myRecipeModal">Quick Add</a>
    
	</div>

  <!-- search bar -->
  <p>
    <%= text_field_tag :search, params[:title] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <!-- pagination -->
  <%= will_paginate @recipeList %>

  <!-- recipe list -->
	<div class="container">

  <% @recipeList.each do |r| %>
  <div class=" well modal-content col-sm-5 col-md-offset-1 col-sm-pull-1">	

    <div class="modal-header">	
       <h3>
         <a href="#">
				  <%= r.title %> | id: <%= r.id %>                
        </a>
       </h3>
      <h4>
				Created: <%= time_ago_in_words r.created_at %> ago
			</h4>
	<%= button_to("Update", {:action=>:update, :id => r.id},  :class=>"btn btn-warning col-sm-4 col-md-offset-3") %>
	<%= button_to("Delete", {:action=>:destroy, :id => r.id}, :method=>:delete, :class=>"btn btn-danger col-sm-4 col-md-offset-1") %>

    </div>
    <div class="modal-body">
			<div class="form-group">
          <label for="exampleInputEmail1" class="col-sm-3 control-label">Title:</label>
              <div class="col-sm-9">               
                <textarea  rows="2"  class="form-control"  id="inputTitle" placeholder="Enter recipe title" required><%= r.title %> </textarea>
              </div>
      </div>
      <div class="form-group">
              <label for="inputQuestion" class="col-sm-3 control-label">Ingredients:</label>
              <div class="col-sm-9">              
                <textarea rows="4"  class="form-control" id="inputIngredients" placeholder="Enter recipe directions" required><%= r.ingredients %> </textarea>
              </div>
      </div>
	    <div class="form-group">
              <label for="inputQuestion" class="col-sm-3 control-label">Directions:</label>
              <div class="col-sm-9">
                
                <textarea rows="4"  class="form-control" id="inputDirections" placeholder="Enter recipe directions" required><%= r.directions %> </textarea>
              </div>
      </div>

     </div>
  </div>
  <% end %>
</div>



  <!-- If there is no recipe, tell user -->
	<% if @recipeList.empty? %>
	  <div class="alert alert-info">No recipes in the database.</div>
	<% end %>
	<div>
		<%= render 'new_recipe_form' %>	
	</div>





  

