


<div class="container">
	
  <!-- pagination -->
  <%= will_paginate @recipeList %>

	<div class="container">
			<table class = "table table-hover">
					 
				 <thead>
						<tr>
							<th>
								<a href="#" id="btnDelete" class="btn btn-warning disabled"  data-toggle="modal" data-target="#">Delete <span class="glyphicon glyphicon-trash"/></a>
							</th>
							<th>
								<a href="#" class="btn btn-success"  data-toggle="modal" data-target="#myRecipeModal">Quick Add <span class="glyphicon glyphicon-plus"/></a> 

							</th>
							<th id="chkSelectAll">
	
								 <span> <input type="checkbox" id="check-all" ></span>
							</th>
							<th>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="type in recipe title...">
									<span class="input-group-btn">
		      					<button class="btn btn-default" type="button"> search <span class="glyphicon glyphicon-search"></button>
		    					</span>
								</div>
							</th>
							
						</tr>
						<tr>
							 <th></th>
							 <th>Index</th>
							 <th>Select</th>
						   <th>Name</th>
						</tr>

				 </thead>
		 
				 <tbody>

				<% @index %>
				<% index=0 %>	
				<% @recipeList.each do |r| %>
						
						<tr>
								<td><span class="glyphicon glyphicon-plus expand"> </span></td>
							  <td><%= index+=1 %></td>
							 	<td><span> <input type="checkbox" class="check-rec"></span></td>
						   	<td><a class="recTitle" ><%= r.title %></a></td>
						</tr>
						<tr>
								<td colspan="4" id="oneRow" class="detailView  "style="display: none;" >

								 <!--<%= r.ingredients %>-->
										<div class="container col-md-12">																		
											<!--<%= render 'recipe_details'%> --> 
											<div class="panel panel-default" id="recipePanel">
												<div class="panel-heading">Recipe Details</div>
												<div class="panel-body">
													<form role="form">
														<div class="form-group">
															<label for="email">Recipe Title</label>
															<textarea class="form-control" id="ing"required><%= r.title %></textarea>
														</div>
														<div class="form-group">
															<label for="pwd">Recipe Ingredients:</label>
															<textarea class="form-control"  id="ing"required><%= r.ingredients %></textarea>
														</div>
														<div class="form-group">
															<label for="pwd">Recipe Directions:</label>
															<textarea class="form-control"  id="dir"required><%= r.directions %></textarea>
														</div>
														<%= button_to("Update", {:action=>:update, :id => r.id},  :class=>"btn btn-warning col-sm-4 col-md-offset-3") %>
														<%= button_to("Delete", {:action=>:destroy, :id => r.id}, :method=>:delete, :class=>"btn btn-danger col-sm-4") %>
													</form>
											</div>
										</div>
								</td>
						</tr>
				<% end %>
				 </tbody>
				 
			</table>

</div>
<!--
<%= render 'recipe_details' %>
-->

<!-- END VERSION 2 -->



  <!-- If there is no recipe, tell user -->
	<% if @recipeList.empty? %>
	  <div class="alert alert-info">No recipes in the database.</div>
	<% end %>
	<div>
		<%= render 'new_recipe_form' %>	
	</div>

<script>
	$(document).ready(function () {

	//$('.recTitle').on('click', function () {
  //    alert("check")
  //});
	
	// Needs to be fixed.
	$(".expand").click(function() {
			$(".detailView").toggle('slow')
//    if($(".detailView").hasClass("out")) {				
//				$("#oneRow").attr('colspan',4);
//        $(".detailView").addClass("in");
//        $(".detailView").removeClass("out");
//    } else {
//				$("#oneRow").attr('colspan',4);
//        $(".detailView").addClass("out");
//        $(".detailView").removeClass("in");
//    }
		if($(".expand").hasClass("glyphicon-plus")){
				$(".expand").addClass("glyphicon-minus");
				$(".expand").removeClass("glyphicon-plus");
		}else{
				$(".expand").addClass("glyphicon-plus");
				$(".expand").removeClass("glyphicon-minus");
		}
	});
	
	
	// Toggle check boxes: check all checkboxes and enable delete button.
	$("#check-all").bind('change', function(){        
		$('.check-rec').prop('checked', $("#check-all").is(':checked'));
		if($('#btnDelete').hasClass("disabled")) {
        
        $('#btnDelete').removeClass("disabled");
    } else {
        $('#btnDelete').addClass("disabled");
    }
	});
	// Individual checkbox click.
	$('.check-rec').bind('change', function(){ 
		var numChked = $('.check-rec:checked').size();
		
		if($('#btnDelete').hasClass("disabled") && numChked>0) {       
        $('#btnDelete').removeClass("disabled");
    } else if(numChked==0) {
        $('#btnDelete').addClass("disabled");
    }
	});
	

 });
</script>




  

