<%= javascript_include_tag 'recipe_list.js' %>
<%= javascript_include_tag 'recipe_table.js' %>
<div class="page-container container">
<!-- pagination -->
<%= will_paginate @recipe_list %>

<div class="container">
	<table class = "table table-hover">

		<thead>
			<tr>
				<th>
					<a href="#" id="btnDelete" class="btn btn-warning disabled" >Delete <span class="glyphicon glyphicon-trash"/></a>
				</th>
				<th>
					<a href="#" class="btn btn-success hidden-print" data-toggle="modal" data-target="#myRecipeModal">Quick Add <span class="glyphicon glyphicon-plus"/></a> 
					<%= form_tag 'display_upload', method: 'post', multipart: true do %>
	  				<%= file_field 'recipe', 'file' %>
	  				<%= submit_tag 'Upload' %>
	  			<% end %>
				</th>
				<th id="chkSelectAll">
					<span> <input type="checkbox" id="check-all" ></span>
				</th>
				<th>
					<%= form_tag(recipes_list_path, method: 'get', id: 'search_form') do %>
						<div class="input-group">
							<%= text_field_tag :search, params[:search], class: "form-control",
								placeholder: "type a recipe title..." %>
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit"> search <span class="glyphicon glyphicon-search"></button>
							</span>
						</div>
					<% end %>
				</th>
			</tr>
			<tr>
				<th></th>
				<th>Index</th>
				<th>Select</th>
				<th>Name</th>
			</tr>
		</thead>

		<%= recipe_list(@recipe_list,
									 {label: 'Update', class: 'update-button', path: nil},
									 {label: 'Delete', path: 'recipe/', action: 'destroy'},
									 ) %>
	</table>
</div>

<!-- If there is no recipe, tell user -->
<% if @recipe_list.empty? %>
	<div class="alert alert-info">No recipes in the database.</div>
<% end %>
<div>
	<%= render 'new_recipe_form' %>	
</div>
