<script type="text/javascript">
  $(document).ready(function() {
  	// delete all of the recipes with the box checked
    $("#btnDelete").click(function() {
      var selected = [];
      // gather the id of all checked recipes
      $('.check-rec:checked').each(function() {
      	var id = $(this).closest('tr').find('#recipe_id').val();
        selected.push(id);
      });
      console.log(selected);
      $.ajax({
        url: "/recipes/destroy_multiple/",
       	method: "POST",
      	data: {recipe_ids: JSON.stringify(selected)},
        timeout: 5500,
        success: function() {
          console.log("success");
				},
      	error: function(jqXHR, textStatus, errorThrown) {
        	console.log("an error has occured");
        	console.log(textStatus);
        	console.log(errorThrown);
        }
			});
			location.reload();
    });

		// Logic for expanding recipe details when + or - is pressed.
		$(".expand").click(function() {
			$(this).closest("tr").next(".recipeDetails").toggle('slow');
			$(this).toggleClass("glyphicon-chevron-down");
			$(this).toggleClass("glyphicon-chevron-up");
		}); 
		
		
		// Toggle check boxes: check all checkboxes and enable delete button.
		$("#check-all").bind('change', function() {
			$('.check-rec').prop('checked', $("#check-all").is(':checked'));
			var numChecked = $('.check-rec:checked').size();
			if (numChecked == 0) {
				$('#btnDelete').addClass("disabled");
			} else if ($(this).prop("checked")) { // Ensure delete enabled when checked.
				$('#btnDelete').removeClass("disabled");
			}
		});
		
		// Individual checkbox click.
		$('.check-rec').bind('change', function() {
			var numChecked = $('.check-rec:checked').size();
			var maxChecked = $('.check-rec').size();
			 
			if ($('#btnDelete').hasClass("disabled") && numChecked > 0) {       
		  	$('#btnDelete').removeClass("disabled");
		  } else if (numChecked == 0) { // disable delete when 0 checked
		  	$('#btnDelete').addClass("disabled");
		  } else if (numChecked < maxChecked) { // not all checked
				$('#check-all').prop("checked", false);
			} else if (numChecked == maxChecked) { //checkall when all checked
				$('#check-all').prop("checked", true);
			}
		});

		$('.update-button').click(function(event) {
			event.stopPropagation();
			var form = $(this).closest("form");
			var title = form.find("#title").val();
			var ingredients = form.find("#ingredients").val();
			var directions = form.find("#directions").val();
			var id = form.find("#recipe_id").val();
			var json = JSON.stringify({title: title, ingredients: ingredients, directions: directions});
			console.log(json);
			$.ajax({
        url: "/recipes/update/" + id,
       	method: "POST",
      	data: {recipe: json},
        timeout: 5500,
        success: function() {
          console.log("success");
				},
      	error: function(jqXHR, textStatus, errorThrown) {
        	console.log("an error has occured");
        	console.log(textStatus);
        	console.log(errorThrown);
        }
			});
		});

  });
</script>
<div class="page-container container">
<!-- pagination -->
<%= will_paginate @recipeList %>

<div class="container">
	<table class = "table table-hover">

		<thead>
			<tr>
				<th>
					<a href="#" id="btnDelete" class="btn btn-warning disabled" >Delete <span class="glyphicon glyphicon-trash"/></a>
				</th>
				<th>
					<a href="#" class="btn btn-success hidden-print" data-toggle="modal" data-target="#myRecipeModal">Quick Add <span class="glyphicon glyphicon-plus"/></a> 
				</th>
				<th id="chkSelectAll">
					<span class="glyphicon glyphicon-th-list" id="expand_all"/>
					<span> <input type="checkbox" id="check-all" ></span>
				</th>
				<th>
					<%= form_tag(recipes_list_path, method: 'get', id: 'search_form') do %>
						<div class="input-group">
							<%= text_field_tag :search, params[:search], class: "form-control",
								placeholder: "type a recipe title..." %>
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit"> search <span class="glyphicon glyphicon-search"></button>
							</span>
						</div>
					<% end %>
				</th>
			</tr>
			<tr>
				<th></th>
				<th>Index</th>
				<th>Select</th>
				<th>Name</th>
			</tr>
		</thead>

		<%= recipe_list(@recipeList,
									 {label: 'Update', class: 'update-button', path: nil},
									 {label: 'Delete', path: 'recipe/', action: 'destroy'},
									 ) %>
	</table>
</div>

<!-- If there is no recipe, tell user -->
<% if @recipeList.empty? %>
	<div class="alert alert-info">No recipes in the database.</div>
<% end %>
<div>
	<%= render 'new_recipe_form' %>	
</div>
