<%= link_to("<< Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="food_items new">
  <h2>Create Food Items</h2>

  <%= form_for(:foodItem, :url => {:action => 'create'}) do |f| %>

  <table summary="Food Item form fields">
    <tr>
      <th>Name</th>
      <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
      <th>Category</th>
     <!-- <td><%= f.text_field(f.category.name) %></td>  -->
    </tr>
  </table>
  
  <div class="form-buttons">
    <%= submit_tag("Create Food Item") %>
  </div>

  <% end %>

  </div>

