<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="food_items show">
  <h2>Show Food Item Details</h2>

  <table summary="Food Item detail view">
    <tr>
      <th>Name</th>
      <td><%= @foodItem.name %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @foodItem.id %></td>
    </tr>
    <tr>
      <th>Category</th>
      <td><%= @foodItem.category == nil ? 'None' : foodItem.category.name %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @foodItem.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @foodItem.updated_at %></td>
    </tr>
  </table>
  </div>

