<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsemenu">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "Find Foods that Fit", '/', :class => "navbar-brand" %>
		</div>
		<div class="collapse navbar-collapse" id="collapsemenu">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meal Plans</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Generate", {:controller => 'search', :action => 'generate'} %></li>
					</ul>
				</li>
				<li>
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recipes</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Search New", {:controller => 'recipes', :action => 'search_new'} %></li>
						<li><%= link_to "Manage", {:controller => 'recipes', :action => 'index'} %></li>
					</ul>
				</li>
				<li>
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Foods</a>
					<ul class="dropdown-menu">
						<li><%=  link_to "Manage", {:controller => 'categories', :action => 'index'} %></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>